/* src/css/Home.css */

.container-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, #7d5867 0, #774d64 10%, #6e4260 20%, #63375e 30%, #552b5b 40%, #441f59 50%, #2e1557 60%, #081056 70%, #000c56 80%, #000355 90%, #000054 100%);
  color: #333;
  padding: 0;
  /* Remove padding */
}

.header-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: rgb(125, 88, 103);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-home {
  display: flex;
  gap: 20px;
  padding: 5px 30px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgb(227,228,237,0.37);
  border: 2px solid rgba(225,225,225,0.18);
}

.navbar-home a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.navbar-home a:hover {
  background-color: #444;
}

.profile {
  position: relative;
  color: #fff;
  cursor: pointer;
}

.profile-name {
  font-size: 1rem;
}

.profile-menu-home {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(179, 179, 179, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 10px;
  z-index: 20;
}

.profile-menu-home a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.profile-menu-home a:hover {
  background-color: #555;
}

#logout {
  color: #ff4d4d;
}

.content {
  flex: 1;
  padding: 0;
}

.main-image {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.main-image img {
  width: 100%;
  height: 130%;
  object-fit: cover;

}

.title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 5px;
}

.gallery {
  padding-top: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
  background-color: #fff;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  max-width: 100%;
  border-radius: 8px;
}

.footer-home {
  background-color: rgb(179, 179, 179, 0.6);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}

.footer-home p {
  color: white;
}